* {
  box-sizing: border-box;
}

body {
  font-family: monospace;
  margin: 0;
  padding: 0;
}

.menu {
  width: 100%;
  padding: 20px 5% 20px 5%;
  border-bottom: 1px solid gray;
}
.menu__logo {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
}
.menu__nav {
  display: inline-block;
  text-align: right;
  margin-right: 25%;
}
.menu__nav__lista {
  margin: 0;
}
@media (max-width: 767.98px) {
  .menu__nav__lista {
    width: 100%;
    margin-left: 70px;
    padding: 0;
    text-align: right;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .menu__nav__lista {
    width: 100%;
    margin-left: 150px;
    padding: 0;
    text-align: right;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .menu__nav__lista {
    width: 100%;
    margin-left: 250px;
    padding: 0;
    text-align: right;
  }
}
.menu__nav__item {
  display: inline;
}
.menu__nav__item a {
  text-decoration: none;
  text-transform: uppercase;
}
.menu__nav__item input {
  border-radius: 30px;
}
@media (max-width: 767.98px) {
  .menu__nav__item input {
    width: 50%;
    margin: 0;
    padding: 0;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

nav {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

section {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.listad-noticias {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 630px 630px;
}

.listado-izquierdo {
  display: grid;
  grid-template-columns: 1fr;
}
.listado-izquierdo__noticias-destacadas {
  display: grid;
  grid-template-columns: 1fr;
}

.newsletter {
  display: grid;
  grid-template-columns: 1fr;
}

footer {
  display: grid;
  grid-template-columns: 1fr;
}

.d-none {
  display: none;
}

@media (max-width: 768px) {
  .d-sm-none {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .d-md-none {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .menu {
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-rows: 1fr;
  }

  section {
    display: grid;
    grid-template-columns: 1fr;
  }
  section .listad-noticias {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  section .listad-noticias .cuerpo img {
    height: 200px;
  }
  section .newsletter {
    display: grid;
    grid-template-columns: 1fr;
  }
  section footer p {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .menu {
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-rows: 1fr;
  }

  section {
    display: grid;
    grid-template-columns: 1fr;
  }

  .listad-noticias {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .newsletter {
    display: grid;
    grid-template-columns: 1fr;
  }

  footer p {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .menu {
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-rows: 1fr;
  }

  section {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

  .listad-noticias {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .newsletter {
    display: grid;
    grid-template-columns: 1fr;
  }

  footer p {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.listad-noticias {
  float: left;
  margin-left: 20%;
}
@media (max-width: 767.98px) {
  .listad-noticias {
    margin-left: 0;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .listad-noticias {
    margin-left: 0;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .listad-noticias {
    margin-left: 0;
  }
}
.listad-noticias__noticia {
  display: inline-block;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
}
.listad-noticias__noticia__cuerpo img {
  width: 100%;
}
@media (max-width: 767.98px) {
  .listad-noticias__noticia__cuerpo img {
    width: 100%;
    height: 200px;
  }
}

.listado-izquierdo {
  float: right;
  margin-left: 10%;
}
.listado-izquierdo__cabecera-listado {
  border-bottom: 1px solid gray;
  margin-right: 50%;
}
.listado-izquierdo__tags {
  border-bottom: 1px solid gray;
  margin-right: 50%;
}
.listado-izquierdo__tags ul {
  padding: 0;
  list-style: none;
}
.listado-izquierdo__tags ul li {
  padding: 2px 4px;
  background-color: steelblue;
  margin-right: 1px;
  color: white;
  display: inline;
}
.listado-izquierdo__noticias-destacadas {
  margin-bottom: 50px;
}
.listado-izquierdo__noticias-destacadas img {
  width: 48%;
}

.newsletter {
  background-color: #f2f4f5;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (max-width: 963px) {
  .newsletter {
    width: 100%;
    clear: both;
  }
}
.newsletter h2 {
  font-size: 24px;
}
.newsletter__group__input, .newsletter__group button {
  display: inline-block;
  border-width: 0;
  font-size: 13px;
  padding: 5px 10px;
}
.newsletter__group button {
  background-color: coral;
  color: white;
}

.footer {
  margin: 0 auto;
  text-align: center;
  clear: both;
}
.footer p {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid gray;
}
@media (max-width: 963px) {
  .footer p {
    border-bottom: none;
  }
}

/*# sourceMappingURL=style.css.map */
