* {
  box-sizing: border-box;
}

body {
  font-family: monospace;
  margin: 0;
  padding: 0;
}

.menu {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid gray;
}
.menu__logo {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
}
.menu__nav {
  display: inline-block;
  text-align: right;
}
.menu__nav__lista {
  margin: 0;
}
.menu__nav__item {
  display: inline;
}
.menu__nav__item a {
  text-decoration: none;
  text-transform: uppercase;
}
.menu__nav__item input {
  border-radius: 30px;
  width: 100px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

nav {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

section {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.listad-noticias {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.listado-izquierdo {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.listado-izquierdo .cabecera-listado, .listado-izquierdo .tags, .listado-izquierdo .noticias-destacadas {
  grid-column-start: 1;
  grid-column-end: 2;
}

.newsletter {
  display: grid;
  grid-template-columns: 1fr;
}

footer {
  display: grid;
  grid-template-columns: 1fr;
}

.d-none {
  display: none;
}

@media (max-width: 768px) {
  .d-sm-none {
    display: none;
  }
}

@media (max-width: 568px) {
  .menu {
    display: grid;
    grid-template-columns: 15px 1fr;
    grid-template-rows: 1fr;
  }

  section {
    display: grid;
    grid-template-columns: 1fr;
  }

  .listad-noticias {
    display: grid;
    grid-template-columns: 1fr;
  }
  .listad-noticias .cuerpo img {
    height: 180px;
  }

  .newsletter {
    display: grid;
    grid-template-columns: 1fr;
  }

  footer p {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.contenido {
  margin: 0 auto;
}

.listad-noticias {
  float: left;
  margin-left: 20%;
}
@media (max-width: 568px) {
  .listad-noticias {
    margin-left: 0;
  }
}

.noticia {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}

.cuerpo img {
  width: 100%;
}

.cuerpo p {
  padding: 5px 10px;
}

.listado-izquierdo {
  width: 220px;
  float: right;
  margin-left: 10%;
}

.tags ul li {
  display: inline;
}

.cabecera-listado {
  width: 220px;
  border-bottom: 1px solid gray;
}

.tags {
  border-bottom: 1px solid gray;
}

.tags ul {
  padding: 0;
  list-style: none;
}

.tags ul li {
  padding: 2px 4px;
  background-color: steelblue;
  margin-right: 1px;
  color: white;
}

.noticias-destacadas {
  margin-bottom: 50px;
}

.noticias-destacadas img {
  width: 220px;
  height: 200px;
}

.newsletter {
  background-color: #f2f4f5;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (max-width: 963px) {
  .newsletter {
    width: 100%;
    clear: both;
  }
}

.newsletter h2 {
  font-size: 24px;
}

.group input,
.group button {
  display: inline-block;
  border-width: 0;
  font-size: 13px;
  padding: 5px 10px;
}

.group button {
  background-color: coral;
  color: white;
}

.footer {
  margin: 0 auto;
  text-align: center;
  clear: both;
}

/*# sourceMappingURL=style.css.map */
