//Grillas
//responsive para lg-xl
.container{
    display: grid;
    grid-template-columns: 1fr;
}
nav{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

section{
display: grid;
grid-template-columns: 2fr 1fr;
}

.listad-noticias{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 630px 630px;
    
 
}

.listado-izquierdo{
    display: grid;
    grid-template-columns: 1fr;
    &__noticias-destacadas{
        display: grid;
        grid-template-columns: 1fr;
    }
    }

.newsletter{
    display: grid;
    grid-template-columns: 1fr;

}
footer{
    display: grid;
grid-template-columns: 1fr;
}


.d-none{
    display: none;
}
.d-sm-none{
    @media (max-width: 768px) {
        display: none;

}
}
.d-md-none{
    @media (max-width: 991.98px) {
        display: none;
}
}

//medias querys responsive
//responsive para xs-sm
 @include respond-to($bp-sm){
    .menu{
        display: grid;
        grid-template-columns: 60px 1fr;
        grid-template-rows:1fr;
        }   
    
    section{
        display: grid;
        grid-template-columns: 1fr;
    
            .listad-noticias{
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
                .cuerpo img{
                height: 200px;
                            }
            
            }
            
            .newsletter{
                display: grid;
                grid-template-columns: 1fr;
                
            }
            footer p{
            display: grid;
            grid-template-columns: 1fr;

            }

        }  
    }

//responsive para md
@include respond-to-md($bp-md){
    .menu{
        display: grid;
        grid-template-columns: 60px 1fr;
        grid-template-rows:1fr;
        }   
    
    section{
        display: grid;
        grid-template-columns: 1fr;
        }
        
        .listad-noticias{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            
        }
        
        .newsletter{
            display: grid;
            grid-template-columns: 1fr;
            
        }
        footer p{
        display: grid;
        grid-template-columns: 1fr;
}
}
//responsive para lg
@include respond-to-lg($bp-lg){
    .menu{
        display: grid;
        grid-template-columns: 60px 1fr;
        grid-template-rows:1fr;
        }   
    
    section{
        display: grid;
        grid-template-columns: 3fr 1fr;
        }
        
        .listad-noticias{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            
        }
        
        .newsletter{
            display: grid;
            grid-template-columns: 1fr;
            
        }
        footer p{
        display: grid;
        grid-template-columns: 1fr;
}
}
