.menu {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid gray;

    &__logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    }

    &__nav {
        display: inline-block;
        text-align: right;
        &__lista{
            margin: 0;
            }
            &__item{
                display: inline;
                    a {
                    text-decoration: none;
                    text-transform: uppercase;
                        }    
                    input {
                    border-radius: 30px;
                    width:100px;
                    }
                }
        }
    }